body {
    margin-top: 2%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
}

.judul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    float: right;
    margin-right: 2%;
}

.content {
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
}
